/* CSS goes here! */

#clear
{
    color: lightslategray;
    font-size: 9vmin;
    font-style: italic;
}

#clear:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.safe
{
    color: #6EEB83;
}

.unsafe
{
    color: #FF3C38;
}

.unknown
{
    color: #D0D6B5;
}

ul
{
    list-style-type: none;
}

body
{
    width: 440px;
}
